body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #c2bfa8, #885e02);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.singup-container {
    background-color: rgba(250, 250, 250, 0.027);
    padding: 30px 70px;
    border-radius: 30px;
    box-shadow: 0 8px 16px rgb(70, 63, 5);
    width: 300px;
    text-align: center;
}

.singup-container h2 {
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30Px;
    color: #000000;
}

.singup-container input {
    width: 100%;
    padding: 10px;
    margin: 20px 3px;
    border-radius: 10px;
    border: 1px solid hsl(46, 100%, 29%);
}

.singup-container button {
    width: 100%;
    padding: 10px;
    background-color: hsla(49, 92%, 20%, 0.801);
    color: rgb(255, 254, 254);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.singup-container button:hover {
    background-color: #000000;
}


.login-container {
    background-color: rgba(250, 250, 250, 0.027);
    padding: 30px 70px;
    border-radius: 30px;
    box-shadow: 0 8px 16px rgb(70, 63, 5);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30Px;
    color: #000000;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 20px 3px;
    border-radius: 10px;
    border: 1px solid hsl(46, 100%, 29%);
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: hsla(49, 92%, 20%, 0.801);
    color: rgb(255, 254, 254);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-container button:hover {
background-color: #000000;
}

.login-container p {
    margin-top: 15px;
    font-size: 14px;
}

.login-container a {
    color: #fff8f4;
    text-decoration: none;
}
