body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.singup-container {
    background-color: rgba(250, 250, 250, 0.192);
    padding: 30px 70px;
    border-radius: 30px;
    box-shadow: 0 8px 16px rgba(211, 86, 228, 0.514);
    width: 300px;
    text-align: center;
}

.singup-container h2 {
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30Px;
    color: #f0e8e8;
}

.singup-container input {
    width: 100%;
    padding: 10px;
    margin: 20px 3px;
    border-radius: 10px;
    border: 1px solid hsl(0, 14%, 89%);
}

.singup-container button {
    width: 100%;
    padding: 10px;
    background-color: hsla(263, 55%, 69%, 0.418);
    color: rgb(8, 8, 8);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.singup-container button:hover {
    background-color: #a79aad;
}


.login-container {
    background-color: rgba(250, 250, 250, 0.192);
    padding: 30px 70px;
    border-radius: 30px;
    box-shadow: 0 8px 16px rgba(211, 86, 228, 0.514);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30Px;
    color: #f0e8e8;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 20px 3px;
    border-radius: 10px;
    border: 1px solid hsl(0, 14%, 89%);
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: hsla(263, 55%, 69%, 0.418);
    color: rgb(8, 8, 8);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-container button:hover {
background-color: #a79aad;
}

.login-container p {
    margin-top: 15px;
    font-size: 14px;
}

.login-container a {
    color: #f79c72;
    text-decoration: none;
}
